.bold {
    font-weight: 700;
}

.registerlink {
    font-size: var(--font-size-2xl);
    color: #0c1cff;
    text-decoration: underline;
}

.topcontent h1 {
    margin-bottom: 1rem;
}

.spacing2xl > * {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    
}

.maincontent {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;

    gap: 0.75rem;
}


.devicecontent {
    display: flex;
    flex-direction: column;
    text-align: left;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;

    padding: 1.5rem;
    width: 500px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.devicecontent table td {
    height: 2.652rem;
}

.devicecontent a {
    color: #002BFF;
    text-decoration: underline;
}

.devicecontent h2 {
    margin-bottom: 1rem;
    color: var(--font-color-blue);
}

.searchcontent {
    width: 500px;
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.searchcontent > * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}
.searchcontent h2 {
    color: var(--font-color-blue);
}

.searchform {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.searchform > * {
    margin-bottom: 1rem;
}

.inputs {
    display: flex;
    flex-direction: column;
    
}

.inputs > * {
    margin-bottom: 0.5rem;
}

.inputs input {
    display: flex;
    flex-direction: column;
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;

    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 250px;
}

.inputs input::placeholder {
    opacity: 0.3;
}

.searchbutton {
    font-size: var(--font-size-md);
    color: white;
    background-color: black;
    border-radius: 0.5rem;
    border: 1px solid #D9D9D9;

    width: 100px;
    height: 50px;

    cursor: pointer;
    text-transform: uppercase;
}

.searchbutton:hover {
    background-color: #00FFB2;
    color: black;
}


.searchresult {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.searchresult table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-size: var(--font-size-sm);

    max-width: 100%;
}

.searchresult th {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

.searchresult tbody   {
  background-color: #4C4C4C;
  color: white;

}

.searchresult thead   {
    background-color: #4C4C4C;
    color: white;
  }

.searchresult a {
    color: #57cdff;
    text-decoration: underline;
}


.terms li {
    margin-left: 1rem;
}

.terms ol {
    margin-top: 1rem;
}

.termslistupper  {
    list-style-type: upper-alpha;
    margin-left: 1rem;
}

.termslistlower {
    list-style-type: lower-alpha;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.advancedsearch {
    margin-top: 2rem;
}

.advancedsearch h2 {
    color: var(--font-color-blue);
}

.advancedcontent {
    margin-top: 2rem;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.advancedcontent input {
    width: 300px;
}


.advancedcontent select {
    appearance: none;
    background-color: transparent;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    padding: 1rem;

    cursor: pointer;

    margin-top: 1rem;
    margin-bottom: 1rem;

    width: 300px;
}

.advancedcontent > * {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}


@media (max-width: 93.75rem) {
    .topcontent {
        text-align: left;
    }

    .bold {
        margin-bottom: 1.5rem;
    }

    .table {
        width: 100%;
        table-layout: fixed;
        word-wrap: break-word;
    }

    .searchresult th {
        font-size: var(--font-size-xs);
      }
    
}

@media (max-width: 53.125rem) {
    .bold {
        font-size: var(--font-size-lg);
    }

    .registerlink {
        font-size: var(--font-size-md);
    }

    .hideOnMobile {
        display: none;
    }

    .devicecontent h2 {
        font-size: var(--font-size-md);
    }
    
    .devicecontent th {
        font-size: var(--font-size-sm);
    }

    .devicecontent td {
        font-size: var(--font-size-sm);
    }
}