.devicesection {
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 820px;

    padding: 1rem;
    margin-top: 2rem;

    display: flex;
    flex-direction: column;
}

.devicesection h1 {
    margin-bottom: 2rem;
}

.deviceinfoname {
    color: #FF5C00;
}

.devicesection article > * {
    margin-top: 1rem;
}

.devicesection article p {
    margin-bottom: 2rem;
}

.devicesection h2 {
    color: var(--font-color-blue);
    margin-bottom: 2rem;
}

.devicesection label {
    font-weight: bold;
}

.deviceinfobuttons {
    display: flex;
    justify-content: space-between;

    margin-top: 3rem;
}

.deletebutton {
    font-size: var(--font-size-md);
    color: white;
    background-color: #FF2D34;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;

    width: 125px;
    height: 50px;
    
    cursor: pointer;
}

.deletebutton:hover {
    background-color: #eb8500;
}

.editbutton {
    font-size: var(--font-size-md);
    color: white;
    background-color: #302DFF;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;

    width: 125px;
    height: 50px;

    cursor: pointer;
}

.editbutton:hover {
    background-color: #00b7ff;
}

.devicesection input[type=text] {
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 300px;
    height: 45px;

    padding: 1rem;

}

.devicesection input[type=checkbox] {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    accent-color: green;
    cursor: pointer;

    align-self: flex-start;
}

.devicesection textarea {
    width: 300px;
    height: 100px;

    resize: none;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    padding: 1rem;
}

.wrapper input[type="radio"] {
    margin-right: 1rem;
    accent-color: green;
    cursor: pointer;
}


.wrapper {
    display: flex;
}

.wrapper p {
    margin-right: 1rem; 
    flex: 0 0 150px;
}

.wrapper select {
    width: 300px;
    height: 45px;
    padding: 1rem;
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
    background-color: white; 
    appearance: none; 
    -moz-appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
}


.wrapper select:hover {
    border-color: #007BFF;
}

.wrapper select:focus {
    outline: none; 
    border-color: #007BFF; 
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
