.header {
    background-color: black;
    width: 100%;
    
}

.navigation {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
}

.logo {
    color: white;
    font-size: var(--font-size-3xl);
    font-weight: 900;
    text-transform: uppercase;
}


.rightnav {
    color: white;
    text-transform: uppercase;
    align-self: center;

    display: flex;
    
    gap: 1rem;
}

.rightnav li {
    list-style-type: none;
}

.rightnav a:hover {
    color: #00FFB2;
}


