.registertitle {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.formsection > * {
    margin-top: 1rem;
}

.formsection {
    display: flex;
    flex-direction: column;

    text-align: left;
}

.register {
    border: 1px solid #D9D9D9;
    border-radius: 1rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 820px;

    padding: 1rem;
    margin-top: 2rem;
}



.formsection select {
    appearance: none;
    background-color: transparent;

    width: 315px;
    height: 80x;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    
    padding: 1rem;

    cursor: pointer;
}

.customarrow {
    position: relative;
    display: inline-block;
    width: 315px;
}


.customarrow::after {
    content: "▼";
    position: absolute;
    font-size: var(--font-size-xs);
    color: black;
    pointer-events: none;
    margin-top: 1rem;
    right: 10px;
}

.formsection input::placeholder {
    opacity: 0.3;
    text-align: left;
}

.formsection input[type=text] {
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 315px;
    height: 45px;

    padding: 1rem;

}

.formsection input[type=email] {
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 315px;
    height: 45px;

    padding: 1rem;

}

.formsection input[type=date] {
    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    width: 315px;
    height: 45px;

    padding: 1rem;
}

.formsection input[type=checkbox] {
    height: 20px;

    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    accent-color: green;
    cursor: pointer;

    align-self: flex-start;
}

.formsection p {
    font-size: var(--font-size-2xl);
    font-weight: bold;
    color: var(--font-color-blue);

    margin-bottom: 1rem;
}

.formsection textarea {
    width: 325px;
    height: 100px;

    resize: none;

    border: 1px solid #D9D9D9;
    border-radius: 0.5rem;
    background-color: white;
    
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    padding: 1rem;
}

.formsection textarea::placeholder {
    opacity: 0.3;
}

.formbuttons {
    display: flex;
    justify-content: space-between;

    width: 300px;
}

.backbutton {
    font-size: var(--font-size-md);
    color: white;
    background-color: #D61D1A;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;

    width: 100px;
    height: 50px;

    align-content: center;
    text-align: center;

    cursor: pointer;
}

.backbutton:hover {
    background-color: #BC571D;
}


.registerbutton:hover {
    background-color: #3F78C0;
}

.registerbutton {
    font-size: var(--font-size-md);
    color: white;
    background-color: #302DFF;
    border-radius: 1rem;
    border: 1px solid #D9D9D9;

    width: 100px;
    height: 50px;

    cursor: pointer;
}

.error {
    color: red;
    font-size: var(--font-size-sm);

}

.formsection .inputerror {
    border: 1px solid red !important;
    outline: none;
}

.success {
    color: rgb(0, 190, 0);
}


@media (max-width: 93.75rem) {
    .register {
        max-width: 720px;
    }

}

@media (max-width: 53.125rem) {
    .register {
        max-width: 100%;
    }

    .registertitle {
        font-size: var(--font-size-lg);
    }

    .formsection label {
        font-size: var(--font-size-sm);
    }

    .formsection p {
        font-size: var(--font-size-md);
    }

    
    .formsection select {
        padding: 0;
        padding-left: 1rem;
        font-size: 14px;
        height: 50px;
    }

    .formsection input::placeholder {
        font-size: 14px;
    }

    .formsection input[type=date] { 
        font-size: 14px;
    }

    .formbuttons {
        width: 100%;
    }
}